.main-container {
    margin: 0 0;
    padding: 0 0;
    border: 1px solid blue;
    width: 700px;
    height: 95vh;
}

.cell {
    border: 2px solid rgb(0, 0, 0);
    width: 45px;
    height: 45px;
    text-align: center;
    font-size: 20px;
}

.matrix-container {
    border: 1px solid red;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.control {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid green;
}

#random {
    margin-right: 200px;
}

#shuffle {

}

.matrix {
    display: grid;
    grid-template-columns: repeat(3, 50px);
    grid-template-rows: repeat(3, 50px);
    gap: 5px;
    margin-top: 40px;
    position: relative;
}

.start-matrix::after {
    content: "Start Matrix";
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: absolute;
    white-space: nowrap;
    top: -30px;
    transform: translateX(50%);
}

.final-matrix::after {
    content: "Final Matrix";
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: absolute;
    white-space: nowrap;
    top: -30px;
    transform: translateX(50%);
}


.btn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 20px;
    background-color: rgb(0, 0, 0);
    color: white;
    border: 1px solid red;
    cursor: pointer;
}
